openapi: 3.0.2
info:
  title: AITickerChat Retrieval Plugin API
  description: A retrieval API for querying and filtering SEC filing documents and earnings call transcripts based on natural language queries and metadata
  version: 1.0.0
  servers:
    - url: "https://stock-advisor.com"
paths:
  /query:
    post:
      summary: Query
      description: Plugin for searching through SEC and CSA filings and Earnings Call Transcripts to find answers to questions and retrieve relevant information about any stock over 50 Million in annual revenue.
      operationId: query_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - HTTPBearer: []
components:
  schemas:
    DocumentChunkMetadata:
      title: DocumentChunkMetadata
      type: object
      properties:
        source:
          $ref: "#/components/schemas/Source"
        filename:
          title: Filename
          type: string
        url:
          title: Url
          type: string
        form_type:
          $ref: "#/components/schemas/FormType"
        published_date:
          title: Published Date
          type: integer
        company_name:
          title: Company Name
          type: string
        document_id:
          title: Document Id
          type: string
        component_number:
          title: Component Number
          type: integer
        symbol:
          title: Stock Symbol
          type: string
        cik:
          title: Stock CIK
          type: string
        fiscal_quarter:
          title: Fiscal Quarter
          type: integer
        fiscal_year:
          title: Fiscal Year
          type: integer
    DocumentChunkWithScore:
      title: DocumentChunkWithScore
      required:
        - text
        - metadata
        - score
      type: object
      properties:
        id:
          title: Id
          type: string
        text:
          title: Text
          type: string
        metadata:
          $ref: "#/components/schemas/DocumentChunkMetadata"
        embedding:
          title: Embedding
          type: array
          items:
            type: number
        score:
          title: Score
          type: number
    DocumentMetadataFilter:
      title: DocumentMetadataFilter
      type: object
      properties:
        filenames:
          title: Filenames
          type: array
          items:
            type: string
        source:
          $ref: "#/components/schemas/Source"
        form_type:
          $ref: "#/components/schemas/FormType"
        company_name:
          title: Company Name
          type: string
        symbol:
          title: Stock Symbol
          type: string
        cik:
          title: Stock CIK
          type: string
        fiscal_quarter:
          title: Fiscal Quarter
          type: integer
        fiscal_year:
          title: Fiscal Year
          type: integer
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: "#/components/schemas/ValidationError"
    Query:
      title: Query
      required:
        - query
      type: object
      properties:
        query:
          title: Query
          type: string
        filter:
          $ref: "#/components/schemas/DocumentMetadataFilter"
        top_k:
          title: Top K
          type: integer
          default: 10
    QueryRequest:
      title: QueryRequest
      required:
        - queries
      type: object
      properties:
        queries:
          title: Queries
          type: array
          items:
            $ref: "#/components/schemas/Query"
    QueryResponse:
      title: QueryResponse
      required:
        - results
      type: object
      properties:
        results:
          title: Results
          type: array
          items:
            $ref: "#/components/schemas/QueryResult"
    QueryResult:
      title: QueryResult
      required:
        - query
        - results
      type: object
      properties:
        query:
          title: Query
          type: string
        results:
          title: Results
          type: array
          items:
            $ref: "#/components/schemas/DocumentChunkWithScore"
    Source:
      title: Source
      enum:
        - SEC
        - CSA
        - Earnings Call Transcripts
      type: string
      description: An enumeration.
    FormType:
      title: From Type
      enum:
        - 8-K
        - 10-K
        - 10-K-table
        - 10-Q
        - 10-Q-table
        - DEFA14A
        - DEF 14A
        - S-1
        - S-3
        - earnings_transcript
      type: string
      description: An enumeration.
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
