openapi: 3.0.2
info:
  title: AITickerChat Retrieval Plugin API
  description: A retrieval API for querying and filtering SEC filing documents and earnings call transcripts based on natural language queries and metadata.
  version: 1.0.0
  servers:
    - url: "https://stock-advisor.com"
paths:
  /query:
    post:
      summary: Query
      description: Accepts search query objects with query, optional filter, sort_order and optional limit (use only when finding latest). Break down complex questions into sub-questions. Filter by (all optional) symbol, form_types, document_sections (pass array of only item numbers), fiscal_year, and fiscal_quarter. 
      operationId: query_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - HTTPBearer: []
components:
  schemas:
    DocumentChunkMetadata:
      title: DocumentChunkMetadata
      type: object
      properties:
        source:
          $ref: "#/components/schemas/Source"
        filename:
          title: Filename
          type: string
        url:
          title: Url
          type: string
        form_type:
          $ref: "#/components/schemas/FormType"
        document_section:
          $ref: "#/components/schemas/DocumentSection"
        published_date:
          title: Published Date
          type: integer
        company_name:
          title: Company Name
          type: string
        document_id:
          title: Document Id
          type: string
        component_number:
          title: Component Number
          type: integer
        symbol:
          title: Stock Symbol
          type: string
        cik:
          title: Stock CIK
          type: string
        fiscal_quarter:
          title: Fiscal Quarter
          type: integer
        fiscal_year:
          title: Fiscal Year
          type: integer
    DocumentChunkWithScore:
      title: DocumentChunkWithScore
      required:
        - text
        - metadata
        - score
      type: object
      properties:
        id:
          title: Id
          type: string
        text:
          title: Text
          type: string
        metadata:
          $ref: "#/components/schemas/DocumentChunkMetadata"
        embedding:
          title: Embedding
          type: array
          items:
            type: number
        score:
          title: Score
          type: number
    DocumentMetadataFilter:
      title: DocumentMetadataFilter
      type: object
      properties:
        filenames:
          title: Filenames
          type: array
          items:
            type: string
        form_types:
          type: array
          items:
            $ref: "#/components/schemas/FormType"
        symbol:
          title: Stock Symbol
          type: string
        fiscal_quarter:
          title: Fiscal Quarter
          type: integer
        fiscal_year:
          title: Fiscal Year
          type: integer
        start_date:
          title: Start Date
          type: string
        end_date:
          title: End Date
          type: string
        document_sections:
          title: Document Sections
          type: array
          items:
            $ref: "#/components/schemas/DocumentSection"
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: "#/components/schemas/ValidationError"
    Query:
      title: Query
      required:
        - query
      type: object
      properties:
        query:
          title: Query
          type: string
        filter:
          $ref: "#/components/schemas/DocumentMetadataFilter"
        sort_order:
          title: Sort Order
          type: string
          enum:
            - asc
            - desc
          default: desc
          description: The order in which to sort when sorting by date. 'asc' for ascending, 'desc' for descending.
        limit:
          title: Limit Documents
          type: integer
          description: The maximum number of documents to return.
        top_k:
          title: Top K
          type: integer
          default: 10
    QueryRequest:
      title: QueryRequest
      required:
        - queries
      type: object
      properties:
        queries:
          title: Queries
          type: array
          items:
            $ref: "#/components/schemas/Query"
    QueryResponse:
      title: QueryResponse
      required:
        - results
      type: object
      properties:
        results:
          title: Results
          type: array
          items:
            $ref: "#/components/schemas/QueryResult"
    QueryResult:
      title: QueryResult
      required:
        - query
        - results
      type: object
      properties:
        query:
          title: Query
          type: string
        results:
          title: Results
          type: array
          items:
            $ref: "#/components/schemas/DocumentChunkWithScore"
    Source:
      title: Source
      enum:
        - SEC
        - CSA
        - EarningsCallTranscripts
      type: string
      description: An enumeration.
    FormType:
      title: From Type
      enum:
        - 8-K
        - 10-K
        - 10-K-table
        - 10-Q
        - 10-Q-table
        - DEFA14A
        - 'DEF 14A'
        - S-1
        - S-3
        - earnings_transcript
      type: string
      description: An enumeration.
    DocumentSection:
      title: Document Section
      enum:
        - '1'
        - 1A
        - 1B
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
        - '7'
        - 7A
        - '8'
        - '9'
        - 9A
        - 9B
        - '10'
        - '11'
        - '12'
        - '13'
        - '14'
        - '15'
        - part1item1
        - part1item2
        - part1item3
        - part1item4
        - part2item1
        - part2item1a
        - part2item2
        - part2item3
        - part2item4
        - part2item5
        - part2item6
        - 'No Section'
        # - 1-1
        # - 1-2
        # - 1-3
        # - 1-4
        # - 2-1
        # - 2-2
        # - 2-3
        # - 2-4
        # - 2-5
        # - 2-6
        # - 3-1
        # - 3-2
        # - 3-3
        # - 4-1
        # - 4-2
        # - 5-1
        # - 5-2
        # - 5-3
        # - 5-4
        # - 5-5
        # - 5-6
        # - 5-7
        # - 5-8
        # - 6-1
        # - 6-2
        # - 6-3
        # - 6-4
        # - 6-5
        # - 6-6
        # - 6-10
        # - 7-1
        # - 8-1
        # - 9-1
        # - signature
      type: string
      description: An enumeration.
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
